DB_PORT=55433
DB_USER=fiapx
DB_PASSWORD=replace-with-random-password
RABBIT_USER=fiapx
RABBIT_PASSWORD=replace-with-random-password
S3_ACCESS_KEY=fiapx
S3_SECRET_KEY=replace-with-random-password
JWT_SECRET=replace-with-at-least-32-random-characters
GRAFANA_PASSWORD=replace-with-random-password
